/*
colors: 
light -- #dce2f3
darker -- #A1B2E6
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*    ITEMS FOR THE BODY AND HEADER/NAVBAR*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
canvas{
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}

header {
    background-image: linear-gradient(to right, #dce2f3, #A1B2E6);
}
nav.navbar {
    display: flex;  
    justify-content: space-between;
    font-family: 'Cinzel', serif;
} 
.mobile-logo {
    height: 8em;
}
.desktop-logo{
    display: none;
}
.hamburger {
    display: flex;
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding-right: 20px;
    align-items: center;
}
.nav-ul {
   display: block;
   list-style-type: none;
   display: none;
}
li a {
    padding: .5em;
    text-decoration: none;
    color: black;
}


/*      ABOUT ME       */
/* grid for about me  */
.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin: 0 1em;
}
h1 {
   grid-column: 1/3; 
   grid-row: 1/2;
   font-family: 'Cinzel', serif;
}
.me {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 1em; 
}
p {
    grid-column: 2/3;
    grid-row: 2/3;
} 
.headshot{
    height: 8em;
    width: 8em;
    border-radius: 50%;
}


/*      PROJECTS        */
.projects-header {
    text-align: center;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
}

/* grid for my projects*/
.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 1em;
    padding-bottom: 1em;
}
.projects > div{
    text-align: center;
}
.projects img {
    width: 80%;
    border: 1px solid black;
}


/*      CONTACT ME / FORM       */
.contact-me {
    text-align: center;
}

/* form styling*/
input[type=email]{
    box-sizing: border-box;
    margin-bottom: 1em;
}
textarea {
    box-sizing: border-box;
}
button{
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
}
footer {
    text-align: center;
    margin: 0;
    font-family: 'Cinzel', serif;
    background-image: linear-gradient(to right, #A1B2E6, #dce2f3);
}
h2 {
    font-family: 'Cinzel', serif;
}
/*      MEDIA QUERIES    */
@media screen and (min-width: 768px){
    .hamburger {
       display: none;
   }
   .nav-ul {
       display: flex;
       margin-right: 1em;
   }
   .mobile-logo {
    display: none;
   }

   nav.navbar{
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
   .desktop-logo{
       display: flex;
       height: 12em;
       width: auto;
       padding: 0;
   }

   /*   ABOUT ME    */
   .about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
   }
    .about-me > p{
        text-align: center;
        padding: 1em;
    }
    .about-me div{
        padding-left: 2em;
    }
    
    /*      PROJECTS        */
    .projects-header {
    text-align: center;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    padding-bottom: 1em;
    }
    /* grid for my projects*/
    .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em;
    }
    .projects > div{
    text-align: center;
    margin: 1em;
    }
    .projects img {
    width: 80%;
    border: 1px solid black;
    }
}
@media screen and (min-width: 1024px){
    nav.navbar{
        font-size: 1.6em;
    }
    .about-me{
        font-size: 1.2em;
        margin: .5em;
    }
    .about-me .me img{
        height: 250px;
        width: 250px;
    }

    /* grid for my projects*/
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 1em;
        padding-bottom: 1em;
    }


    /*      contact me      */
    .contact-me{
        font-size: 1.5em;
    }

    /*      FOOTER      */
    footer{
        font-size: 1.5em;
    }
    footer i{
        padding: 0 1em;
    }
}